body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9ab80;
  user-select: none;
  outline: none;
}

#container {
  background-image: url('images/cloudBG2.jpg');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 80%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #904b07;
  border-radius: 0;
}

h1 {
  font-size: 1.5em;
  color: #74493e;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

button {
  font-size: 18px;
  padding: 15px 30px;
  background-color: #b28173;
  color: #fff2e8;
  border: 2px solid #904b07;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background-color: #904b07;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

#nicknameInput {
  padding: 12px 16px;
  font-size: 12px;
  border: 2px solid #74493e;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Press Start 2P', cursive;
  background-color: #fff2e8;
}

#submitName {
  padding: 12px 24px;
  background-color: #b28173;
  color: #fff2e8;
  border: 2px solid #904b07;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  transition: all 0.3s ease;
  width: 80%;
  max-width: 300px;
}

#submitName:hover {
  background-color: #904b07;
  transform: translateY(-2px);
}

#birthdayMessage {
  animation: wiggle 4.5s ease-in-out infinite;
  color: #74493e;
  text-align: center;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

#cakeImage {
  width: 40vh;
  height: auto;
  margin-bottom: 20px;
}

#playYTSong {
  background-color: #74493e;
  color:#fff2e8;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px;
}

#playYTSong:hover {
  background-color: #904b07;
}

@media (max-width: 600px) {
  h1 { font-size: .9em; }
  button { padding: 12px 24px; font-size: 16px; }
  .buttons-container { flex-direction: column; gap: 20px; }
}
